.title {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    font-size: 3rem;
    color: lightgoldenrodyellow;
    margin-top: 50px;
  }

.title::after {
  content: "";
  font-size: 1rem;
  text-align: right;
  }